django < 3
pipenv
requests
mysqlclient
isodate 
coloredlogs 
addict
future
whitenoise 
dj-database-url 
django-crispy-forms
django-bootstrap-pagination
django-imagekit 
pillow
jsonfield
gunicorn
celery
redis
